<header class="ta-c bd pos-st">
    <div class="w-90 mX-a d-f fxw-w ai-c jc-c">
      <a href="/" class="d-f ai-c c-green-light mR-a fxb-12 md-fxb-4 fz-2 ">
        %
      </a>
      <nav class="d-f fxw-w">
         <a class="mR-1" href="/docs">Docs</a>
         · <a class="mX-1" href="/templates">Templates</a>
         · <a class="mX-1" href="/changelog">Changelog</a>
         · <a class="mX-1" href="https://github.com/filipelinhares/conjurate">Github</a>
         · <a class="d-f ai-c" class="mX-1" href="https://npmjs.org/conjurate">
          <img class="mL-1" src="https://img.shields.io/npm/v/conjurate.svg?style=flat&color=gray&update=1" />
        </a>
      </nav>
    </div>
  </header>
