---
layout: default
---

{% if site.outdated %}
<aside class="ta-c pY-2 bgc-yellow c-white">
  [WIP] Documentation is outdated with version 0.4.0.
</aside>
{% endif %}
<div class="w-90 mX-a d-f fxw-w">
  <div class="fxb-3 pos-st t-0 as-fs hide-xs">
    <ul class="lis-n w-100 h-100 bdc-gray mT-2">
      <li>
        <a class="c-green-light pY-2" href="/getting-started">Get started</a>
      </li>
      <li>
        <a href="#instalation">Installation</a>
      <li>
      <li>
        <a href="#config">Config</a>
      </li>
      <li>
        <a href="#cli">CLI</a>
      </li>
      <li>
        <a href="#templates">Templates</a>
      </li>
    </ul>
  </div>
  <div class="fxb-9 w-90-sm mX-a pB-100 content-text">
    {{content}}
  </div>
</div>
