---
layout: default
---

{% if site.outdated %}
  <aside class="ta-c pY-2 bgc-yellow c-white">
    [WIP] Documentation is outdated with version 0.4.0.
  </aside>
{% endif %}
<div class="d-f w-90 mX-a fxw-w">
  <div class="fxb-3 pos-st t-0 as-fs hide-xs">
    <ul class="lis-n w-100 h-100 m-0 bdc-gray mT-2 p-0">
      <li>
        <a href="#introduction">Introduction</a>
      </li>
      <li>
        <a href="#generate-config-file">Generate config file</a>
      </li>
      <li>
        <a href="#configure">Configure</a>
      </li>
      <li>
        <a href="#create-templates">Create templates</a>
      </li>
      <li>
        <a href="#generating">Generating</a>
      </li>
    </ul>
      </div>
      <div class="fxb-9 pB-100 content-text">
        {{content}}
  </div>
</div>
